<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Rashmi Jasinghe">
    <title>What if I don't invest?</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      body {
    font-family: 'Alegreya', serif;
  }
    </style>
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <a name="#">
      <div id="#"></div>
    </a>
    <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container" >
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white">
            All information is borrowed from various reputable sources.
            </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between" style="max-width:90%;">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="{% static 'chart_up_arrow.svg' %}"  width="30" height="30">
        <strong>What if I don't invest?</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <div class="container-fluid  d-flex min-vh-100 flex-column" >
    <div class="row flex-fill " >
      <section class="jumbotron text-center col-md-6 align-items-center py-5" >
        <div class="container text-white  animated fadeInLeft  align-items-center" >
          <h1 style="font-size: 60px;"><b>Investing is overwhelming! 😤</b></h1>
          <div class="text-justify align-items-center">
          <h4 >
            This investing thing is too hard and too risky for me, I'm just going to keep everything in a savings account. How much could you lose out?
            This site brings <i>Nobel prize winning &trade; </i> research to show that even the most basic investing method (ETFs) can yield pretty good returns.
          </h4>

        </div>
        <a href="#mainsection" class="btn btn-default link-button">Show me how!</a>

        </div>
      </section>

      <div class="col-md-6 top_image align-items-center py-5">
        <div class="animated fadeInRight ">
          <img src="{% static 'Different-Types-of-Investment-Stocks.png' %}" style="max-width:100%; max-height:100%">
        </div>
      </div>
    </div>
  </div>
  <!--py-5: py means padding on the y axis, 5 is a value, 1-5 .. etc -->
  <!-- bg-light is just a color , there for ex bg-success -->
    <a name="mainsection">
      <div id="mainsection"></div>
    </a>
  <div class="main-container py-5 px-5 bg-dark d-flex min-vh-100 flex-column">
    <!-- rows must be in a container -->
    <div class="container-fluid py-5">

      <div class="row">

        <div class="col-md-6">
          <div class="container text-white  align-items-center">

            <h1 style="font-size: 60px;">
              Tell me about yourself
            </h1>
            <div class="text-justify align-items-center">
            <h1 >

              <div class="md-form form-lg  ">
                I am
                <span id="cur_age" contenteditable="true"></span>
                years old.
              </div>
              <div class="md-form form-lg  ">
                I plan to cash out at the age of
                <span id="cashout_age" contenteditable="true"></span>.
              </div>
              <div class="md-form form-lg  ">
                I have $
                <span id="amount" contenteditable="true"></span>.
                in my savings account now.
              </div>
              <div class="md-form form-lg">
                My savings account currently gives me an interest rate of &nbsp;
                 	&#37;
                  <!-- Note: Was using a div before but that inserted a <br> in the text. This caused some weird displays
                    https://stackoverflow.com/questions/14638887/br-is-inserted-into-contenteditable-html-element-if-left-empty
                 -->
                    <span id="interest" contenteditable="true">
                    </span> annually.
              </div>
              <br>
              <br>
              <button id="submit_button" type="button" class="btn btn-default submit-button">Calculate my gains!</button>
              </h1>
          </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="container text-white  align-items-center">
            <div id="information">
            <h1 style="font-size: 60px;">
              How are the gains calculated?
            </h1>
            <br>
            <br>
            <h2>
              Actual information based on Canadian Couch Potato's research
              <a href="https://cdn.canadiancouchpotato.com/wp-content/uploads/2020/01/CCP-Model-Portfolios-Vanguard-ETFs-2019.pdf">here.</a>
              <br>
              <br>
            Assumptions:
            <ul>
              <li> The historic 25 year average rate of return from the Vanguard Conservative Income ETF Portfolio is 6.38%.
              <li> Taxes are not taken into account
              <li> Your bank's savings account interest is normally way lower than the yield of ETFs
              <li> Nobody can predict the market so nothing is guranteed
              <li> Assumes your savings and stock portfolio account does not change. Meaning you do not add or take away cash.
            </ul>
            </h2>
          </div>
            <div id="gains_text">
              <h1 >
                If you bought ETFs your total value would be:
              </h1>

              <h1 id="stock">
              </h1>

              <h1 >
                If you just kept everything in a savings account:
              </h1>

              <h1 id="savings">
              </h1>
              <br>
              <br>
              <img src="{% static 'stonks.jpg' %}" style="max-width:100%; max-height:100%">

          </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'number_incrementer.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      document.body.setAttribute('spellcheck', false);
      var button = document.querySelector("#submit_button");
      button.addEventListener("click", function() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
              document.getElementById("gains_text").style.visibility = "visible";
              let info_box = document.getElementById("information")
              if (info_box != null) {
                info_box.remove();
              }

              function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              }
              function animate_money(elem_id, result) {
                let start // set on the first step to the timestamp provided
                const el = document.getElementById(elem_id) // get the element
                const final = parseInt(JSON.parse(xhr.responseText)[result], 10) // parse out the final number
                console.log(final)
                const duration = 1000 // duration in ms
                const step = ts => {
                  if (!start) {
                    start = ts
                  }
                  // get the time passed as a fraction of total duration
                  // Take min of progress and 1 so we don't go ever
                  let progress = Math.min((ts - start) / duration, 1)
                  el.textContent = "$" + numberWithCommas(Math.floor(progress * final)) + "." // set the text
                  if (progress <= 1) {
                    // if we're not 100% complete, request another animation frame
                    requestAnimationFrame(step)
                  }
                }
                // start the animation
                requestAnimationFrame(step)
              }

              animate_money("stock", "stock_market_result")
              animate_money("savings", "savings_result")

            } else {
              alert('There was a problem with the request.');
            }
          }
        };

        var cur_age = document.getElementById("cur_age").textContent
        var ret_age = document.getElementById("cashout_age").textContent
        var amount = document.getElementById("amount").textContent
        var interest = document.getElementById("interest").textContent

        xhr.open('POST', '/compute/');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.send(JSON.stringify({
          "current_age": cur_age,
          "cashout_age": ret_age,
          "current_amount": amount,
          "interest_rate": interest
        }));
      });

        // Hide where the result would be put after user submits their info
       document.getElementById("gains_text").style.visibility = "hidden";

       // Disable the ability to add linebreaks when user presses enter!
       document.querySelectorAll('[contenteditable=true]').forEach((editable, i) => {
         editable.addEventListener('keypress', (evt) => {
            if (evt.which === 13) {
                evt.preventDefault();
            }
        });
       });

  });

  </script>


</main>

<footer class="text-muted bg-dark">
  <div class="container ">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; Rashmi Jasinghe</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>
