<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Rashmi Jasinghe">
    <title>What if I don't invest?</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      body {
    font-family: 'Alegreya', serif;
  }
    </style>
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <a name="#">
      <div id="#"></div>
    </a>
    <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container" >
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-white">
            All information is borrowed from various reputable sources.
            </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between" style="max-width:90%;">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="{% static 'chart_up_arrow.svg' %}"  width="30" height="30">
        <strong>What if I don't invest?</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <div class="container-fluid  d-flex min-vh-100 flex-column" >
    <div class="row flex-fill " >
      <section class="jumbotron text-center col-md-6 align-items-center py-5" >
        <div class="container text-white  animated fadeInLeft  align-items-center" >
          <h1 style="font-size: 60px;"><b>Investing is overwhelming! 😤</b></h1>
          <div class="text-justify align-items-center">
          <h4 >
            This investing thing is too hard and too risky for me, I'm just going to keep everything in a savings account. How much could you lose out?
            This site brings <i>Nobel prize winning &trade; </i> research to show that even the most basic investing method (ETFs) can yield pretty good returns.
          </h4>

        </div>
        <a href="#mainsection" class="btn btn-default link-button">Show me how!</a>

        </div>
      </section>

      <div class="col-md-6 top_image align-items-center py-5">
        <div class="animated fadeInRight ">
          <img src="{% static 'Different-Types-of-Investment-Stocks.png' %}" style="max-width:100%; max-height:100%">
        </div>
      </div>
    </div>
  </div>
  <!--py-5: py means padding on the y axis, 5 is a value, 1-5 .. etc -->
  <!-- bg-light is just a color , there for ex bg-success -->
    <a name="mainsection">
      <div id="mainsection"></div>
    </a>
  <div class="main-container py-5 px-5 bg-dark d-flex min-vh-100 flex-column">
    <!-- rows must be in a container -->
    <div class="container-fluid py-5">

      <div class="row">

        <div class="col-md-6">
          <div class="container text-white  align-items-center">

            <h1 style="font-size: 60px;">
              Tell me about yourself
            </h1>
            <div class="text-justify align-items-center">
            <h1 >

              <div class="md-form form-lg  ">
                I am
                <input type="text" id="cur_age" class="text-white" style="max-width:40px;">
                years old.
              </div>
              <div class="md-form form-lg  ">
                I plan to retire at the age of
                <input type="text" id="ret_age" class="text-white" style="max-width:40px;">.
              </div>
              <div class="md-form form-lg  ">
                I have $
                <input type="text" id="amount" class="text-white" style="max-width:100px;">
                in my savings account now.
              </div>
              <div class="md-form form-lg  ">
                My savings account currently gives me an interest rate of &nbsp;
                 	&#37; <input type="text" id="interest" class="text-white" style="max-width:40px;">
              </div>
              <br>
              <br>
              <button id="submit_button" type="button" class="btn btn-default submit-button">Calculate my gains!</button>
              </h1>
          </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="container text-white  align-items-center">

            <div class="text-justify align-items-center">
            <h4 >
              This investing thing is too hard and too risky for me, I'm just going to keep everything in a savings account. How much could you lose out?
              This site brings <i>Nobel prize winning &trade; </i> research to show that even the most basic investing method (ETFs) can yield pretty good returns.
            </h4>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      var button = document.querySelector("#submit_button");
      button.addEventListener("click", function() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
              console.log("hello")
            } else {
              alert('There was a problem with the request.');
            }
          }
        };
        var cur_age = document.getElementById("cur_age").value
        var ret_age = document.getElementById("ret_age").value
        var amount = document.getElementById("amount").value
        var interest = document.getElementById("interest").value

        xhr.open('POST', '/compute/');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.send(JSON.stringify({
          "current_age": cur_age,
          "retire_age": ret_age,
          "current_amount": amount,
          "interest_rate": interest
        }));
      });


  });




  </script>


</main>

<footer class="text-muted bg-dark">
  <div class="container ">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; Rashmi Jasinghe</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>
