html {
    scroll-behavior: smooth;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #1abc9c;
  border-radius: 0 !important;
  display: grid;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.link-button {
  color: #fff;
  font-size: 50px;
  background-color: #343a40 !important;
}

.submit-button {
  color: #fff;
  font-size: 50px;
}

.top_image {
  background-color: #1abc9c;
  border-radius: 0 !important;
  display: grid;
}



/*
https://stackoverflow.com/questions/23530231/contenteditable-true-height-issue-in-firefox/23530317#23530317
Small hack for contenteditable because you cannot select an empty one
\feff is just a blank no space character

This could also work
[contenteditable='true']:before {
    content: "\feff";
}
*/
[contenteditable='true']:after {
    content: "\feff";
}


[contenteditable] {
    outline: 0px solid transparent;
    border-bottom: 1px solid #ced4da;
    overflow: hidden;
    display: inline-flex;
    min-width: 30px;
    max-width: 150px;
}


[contenteditable]:focus {
    outline: 0px solid transparent;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    border-bottom: 1px solid #007bff;

}

.main-container {

}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 60rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}


/* credits:
https://nicolaskadis.info/posts/pure-css-flip-cards-using-bootstrap-4-and-css-grid-no-js
https://www.w3schools.com/howto/howto_css_flip_card.asp
 */

/* Fliping a card */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  /* Remove this if you don't want the 3D effect */
  display: grid; grid-template: 1fr / 1fr;
 grid-template-areas: "frontAndBack";
 transition: transform 0.8s;
 transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
 transform: rotateY(180deg);
}

.flip-card-front {
  transform: rotateY(0deg);
  grid-area: frontAndBack;
}

.flip-card-back {
  grid-area: frontAndBack;
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
    transform-style: preserve-3d;

}
